/* Main Content Area */
main {
    flex-direction: column;
}

/* Centering the Search Bar */
.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust to place it in the vertical center */
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.searchbar input {
    font-family: HomeVideo;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #20549700;
    border-radius: 30px;
    background-color: #205497;
    color: #fff;
    font-size: 1em;
    transition: all 0.3s ease;
    background-color: #000;
}

.searchbar input::placeholder {
    color: rgb(255, 255, 255);
}

.searchbar input:focus {
    outline: none;
    border-color: #ffcc00;
}

/* Software ID Container */
.softwareid-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns the content to the top */
    width: 100%;
}

#softwareid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    overflow: auto;
    height: fit-content;
    position: relative;
    scroll-behavior: smooth;
    padding: 1px;
    background: #000000; /* Grid Background */
    overflow-x: visible;
    width: 100vw; /* Ensures full screen width */
    box-sizing: border-box;
}

.notification {
    background-color: #28a745;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 5vh;
    right: 2vh;
    z-index: 1000;
    border-radius: 5px;
    display: none;
}

/* Shared button styles */
.fedora-button,
.debian-button,
.windows-button,
.macos-button,
.msterminal-button,
.linux-button,
.mslin-button,
.librelin-button,
.pdflin-button,
.buy-button,
.dont-button {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

/* Specific button backgrounds */
.fedora-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/Fedora_icon_\(2021\).svg');
}

.debian-button {
    width: 20px;
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/debian.webp');
}

.windows-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/windows.svg');
}

.macos-button {
    width: 32px;
    height: 32px;
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/finder.svg');
}

.msterminal-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/terminal.webp');
}

.linux-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/Fedora_icon_\(2021\).svg');
}

.mslin-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/msoffice.svg');
}

.librelin-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/libreoffice.svg');
}

.pdflin-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/pdf.webp');
}

.buy-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/pdf.webp');
}

.dont-button {
    background-image: url('https://raw.githubusercontent.com/MiguelCarino/Carino-Systems/main/assets/images/dont.webp');
}

/* Hover, focus, active states */
.fedora-button:active,
.fedora-button:focus,
.fedora-button:hover,
.debian-button:active,
.debian-button:focus,
.debian-button:hover,
.windows-button:active,
.windows-button:focus,
.windows-button:hover,
.macos-button:active,
.macos-button:focus,
.macos-button:hover,
.msterminal-button:active,
.msterminal-button:focus,
.msterminal-button:hover,
.linux-button:active,
.linux-button:focus,
.linux-button:hover,
.mslin-button:active,
.mslin-button:focus,
.mslin-button:hover,
.librelin-button:active,
.librelin-button:focus,
.librelin-button:hover,
.pdflin-button:active,
.pdflin-button:focus,
.pdflin-button:hover,
.buy-button:active,
.buy-button:focus,
.buy-button:hover,
.dont-button:active,
.dont-button:focus,
.dont-button:hover {
    transform: scale(1.4);
}


.selected {
    background-color: #278136;
    /* Change color as needed */
    color: white;
}

.software-download-item {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: #fff;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    border-color: #e5e7eb;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
    border-width: 1px;
    padding: 0.5rem 1.25rem
}

.rounded-xl {
    border-radius: 0.75rem
}

.span-space {
    margin-right: 10px
}

.softcell {
    display: block;
    padding: 10px;
    margin: 6px;
    text-decoration: none;
    color: #000;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    border-radius: 5px;
    border-bottom: 0px;
    padding: 14px 14px 22px 14px;
}

.softcell {
    background-color: #28a745; /* Blue */
}

.softcell:after {
    content: '🔓 Open source Software'; /* Your desired character */
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    color: #ffffff; /* Color of the character */
    z-index: -1; /*To Hide after content for the cells in the grid background*/
}

.commercial-software-cell {
    background-color: #007bff; /* Orange */
}

.commercial-software-cell:after {
    content: '💰 Commercial Software'; /* Your desired character */
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    color: #ffffff; /* Color of the character */
}

.documents-cell {
    background-color: #6c757d; /* White */
}

.documents-cell:after {
    content: '🗋 Document'; /* Your desired character */
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    color: #ffffff; /* Color of the character */
}

.websites-cell {
    background-color: #6f42c1; /* Black */
    color: #ffffff; /* White text for better contrast */
}

.websites-cell:after {
    content: '🌐 Website'; /* Your desired character */
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    color: #ffffff; /* Color of the character */
}

.restricted-cell {
    background-color: #851818; /* Black */
    color: #ffffff; /* White text for better contrast */
}

.restricted-cell:after {
    content: '🛇 Restricted'; /* Your desired character */
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    color: #ffffff; /* Color of the character */
}

.softcell:hover {
    transform: scale(1.04);
}

.documentationcell {
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    background-color: #205497;
    border: 10px solid #292731;
    border-radius: 15px;
    padding: 0
}

.documentation:hover {
    transform: scale(1.1)
}